input[type=range].input-range.material  {
  -webkit-appearance: none;
}
input[type=range].input-range.material:focus {
  outline: none;
}
/* Webkit */
input[type=range].input-range.material::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #DADADA;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range].input-range.material::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #3F9EFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
  -webkit-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}
input[type=range].input-range.material:focus::-webkit-slider-runnable-track {
  /*background: #ac51b5;*/
}
input[type=range].input-range.material:active::-webkit-slider-thumb {
  transform: scale(1.3);
  margin-top: -7px;
}

/* Moz */
input[type=range].input-range.material::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #DADADA;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range].input-range.material::-moz-range-thumb {
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #3F9EFF;
  cursor: pointer;
  -moz-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}
input[type=range].input-range.material:active::-moz-range-thumb {
  transform: scale(1.3);
}

/* MS */
input[type=range].input-range.material::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range].input-range.material::-ms-fill-lower {
  background: #DADADA;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].input-range.material::-ms-fill-upper {
  background: #DADADA;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].input-range.material::-ms-thumb {
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #3F9EFF;
  cursor: pointer;
  -ms-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}
input[type=range].input-range.material:active::-ms-thumb {
  transform: scale(1.3);
}
input[type=range].input-range.material:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range].input-range.material:focus::-ms-fill-upper {
  background: #ac51b5;
}
